@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');


body {
  font-family: 'Ubuntu', sans-serif;
  background: #c9dbfe;
}

header {
  display: flex;
  color: #000510;
  background: #f2f6ff;
  margin: 6px;
  border-radius: 5px;
  padding: 2px 13px;
}
main{
  color: #000510;
  background: #f2f6ff;
  margin: 6px;
  border-radius: 5px;
  padding: 2px 13px;
}
.navbar {
  list-style-type: none;
  margin: 15px;
  display: flex;
}
.navbar li {
  margin:8px;
  width: 50%;
  text-align:right;
}
.navbar a {
  text-decoration: none;
  
  color: #000510;
  transition: .2s linear;
}
.navbar a:hover {
  
  text-decoration: none;
  color: #63a5f3;
}
.navbar a:active {
  text-decoration: none;
  color: #5294e2;
}
.sidebar {

}
button {
  color: #63a5f3;
  background: transparent;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .2s linear;
}

button:hover {
  color: #63a5f3;
  background: #7c818c33;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .2s linear;
}
button:active{
  color: white;
  background: #5294e2ff;
  border-radius: 5px;
  border: none;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  transition: .1s linear;
}
.HDR1 {
  color: #63a5f3;
  background: #7c818c33;
  margin: 6px;
  border-radius: 15px;
  padding: 2px 13px;
  display: flex;
}
.HDR1 h4{
  color: #63a5f3;
  padding: 2px 13px;
  margin: 6px;
}
.HDR1 p{
  color: #383c4a;
  padding: 2px 13px;
  margin: 6px;
}
.license{
  justify-content: space-between;
  flex-direction: column;
  display: flex;
}
.license_btns {
  justify-content: flex-end;
  display: flex;
}
.indevtext {
	top: 20vh;
	height: 100vh;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 12vh; /* Stay at the top */
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
  background: #c9dbfe;
  border-radius: 15px;
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  display: block;
  transition: .2s linear;
  
  color: #63a5f3;
}
.sidenav input {
  padding: 16px;
  text-decoration: none;
  display: block;
  transition: .2s linear;
  width: 160px;
  color: black;
  background: transparent;
  border-radius: 5px;
  border-width: 0;
}
.sidenav input:active {
  padding: 14px;
  text-decoration: none;
  display: block;
  transition: .2s linear;
  color: white;
  background: #63a5f3;
  border-radius: 0px;
}
.sidenav input:hover {
  padding: 16px;
  text-decoration: none;
  display: block;
  transition: .2s linear;
  width: 160px;
  color: black;
  background: white;
  border-radius: 5px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #000510;
  transition: .2s linear;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
  color: #000510;
  background: #f2f6ff;
  border-radius: 5px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.download{
  background: #c9dbfe;
}